@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/*-----------General style-----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: var(--Very-Light-Gray);
}
:root {
  /*------Colors-------*/

  /* Primary */

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  /* Neutral */

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
.container {
  max-width: 33.75rem;
  margin: 5rem auto;
}

/* ----header---- */
header{
  text-align: center;
}
header h2,
header h1 {
  color: var(--Grayish-Blue);
  font-weight: 300;
  font-size: 2.25rem;
  letter-spacing: .0156rem;
  color: var(--Very-Dark-Blue);
}
header h2 {
  font-weight: 600;
  line-height: 3rem;
}
header p {
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1.5625rem;
  padding: 16px;
  color: var(--Grayish-Blue);
}

/*-------------Cards Section--------------*/
.cards-container{
  display: grid;
  justify-content: center;
  margin: 5rem 0;
}
.card{
  width: 21.875rem;
}
.cards-container .card {
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 .9375rem 1.875rem -.6875rem rgba(131, 166, 210, .5);
  overflow: hidden;
  position: relative;
}
.cards-container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.25rem;
  width: 100%;
}
.cards-container .cyan-card.card::before {
  background-color: var(--Cyan);
}
.cards-container .yellow-card.card::before {
  background-color: var(--Red);
}
.cards-container .orange-card.card::before {
  background-color: var(--Orange);
}
.cards-container .blue-card.card::before {
  background-color: var(--Blue);
}

.cards-container .card h3 {
  color: var(--Very-Dark-Blue);
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.cards-container .card p {
  color: var(--Very-Dark-Blue);
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--Grayish-Blue);
}
.cards-container .card img {
  margin-top: 1rem;
  float: right;
}

/* ---------Large Screen-------------- */
@media (min-width: 1440px) {

  /*-------------Cards Design--------------*/
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }

   .cards-container .cyan-card {
    transform: translateY(150px);
  }

  .cards-container .orange-card {
    transform: translateY(267px) translateX(-382px);
  }
  .cards-container .blue-card {
    transform: translateX(764px) translateY(-118px);
  }

  .cards-container .card h3 {
    color: var(--Very-Dark-Blue);
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}
